@import "fa/font-awesome.less";
@import "config.less";

//@main-bg:rgb(40,40,59);
//@calendar-border:rgb(220,220,255);
//@calendar-bg:#fff;
//@calendar-standout:rgb(40,40,59);
//@calendar-color:#444;
//@calendar-fade-color:#c0c0c0;
//@calendar-button-color:#202020;
//@body-color:#444;
@main-bg:@col-background;
@calendar-border:@col-text;
@calendar-td-bg: fade(white, 75%);
@calendar-bg:@col-background;

@calendar-bg-header:lighten(@col-text, 20%);
@calendar-header:@col-text-light;

@calendar-standout:@col-text;
@calendar-fade-color:@col-text-lighter;

@calendar-button-color:@col-text;
@calendar-button-bg-color:@col-link;
//@calendar-button-color-hover:@col-link-hover;

@calendar-bg-fade-color:darken(@calendar-td-bg, 10%);
//@reserved-bg-color:#629760;
@reserved-bg-color:#eaa927;
@reserved-font-color:@col-text;
@reserved-bg-fade-color:lighten(@reserved-bg-color, 10%);
@bySV-bg-color:#03400c;
@bySV-font-color:@col-text-light;
@bySV-bg-fade-color:lighten(@bySV-bg-color, 5%);

@calendar-error-bg-color: @col-error;
@calendar-error-color: @col-text-light;


html, body {
  height:100%;
}
body {
  font-size:100%;
  line-height:1.5;
  font-family: "Roboto Condensed", sans-serif;
  background:@main-bg;
  //background-image:linear-gradient(@main-bg 0%, darken(@main-bg,12%) 100%);
  background-image: url("../images/background-contact.jpg");
  //color:@body-color;
}

*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }

.verhuur-error {
  background-color: @calendar-error-bg-color;
  color: @calendar-error-color;
  font-size: 1.25em;
  padding: .5em;
  border-radius: 5px;
  // //width: calc(~"100% - .5em");
  // width: 100%;
  // margin: 0 0 .5em 0;
  // .transition;
  border: 0;
  cursor: pointer;
  .shadow(1);
  &:hover {
    background-color: darken(@calendar-error-bg-color, 10%);
  }
  &:focus {
    outline: none;
    background-color: darken(@calendar-error-bg-color, 10%);
  }
  &:active {
    background-color: darken(@calendar-error-bg-color, 20%);
  }
}

.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid @calendar-border;
  border-radius:5px;
  background:@calendar-bg;

}
table {
  clear:both;
  width:100%;
  border:1px solid @calendar-border;
  border-radius:3px;
  border-collapse:collapse;
  //color:@calendar-color;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border;
  width:100% / 7;
  background-color: @calendar-td-bg;
}
td.not-current {
  color:@calendar-fade-color;
  background-color:@calendar-bg-fade-color;
}
td.not-current.reserved {
  background-color: @reserved-bg-fade-color;
}
td.not-current.bySV {
  background-color: @bySV-bg-fade-color;
}

td.normal {}
td.reserved {
  background-color: @reserved-bg-color;
  color: @reserved-font-color;
}
td.bySV {
  background-color: @bySV-bg-color;
  color: @bySV-font-color;
}

td.today {
  font-weight:700;
  //color:@calendar-standout;
  font-size:1.5em;
}

td.days{
  background-color: @calendar-bg-header;
  color: @calendar-header;
}


thead td {
  border:none;
  color:@calendar-header;
  text-transform:uppercase;
  font-size:1.5em;
  background-color: @calendar-bg-header;
}

#btnContainer {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.btnDiv1,
.btnDiv2,
.btnDiv3 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
}

#btnPrev {
  float:left;
  &:before {
    content: '\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnToday{
  float:center;
  &:before {
    content: '\f073 ';
    font-family:FontAwesome;
    padding-right:4px;
  }
  &:after {
    content:'\f073 ';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext, #btnToday {
  margin-bottom:20px;
  background:transparent;
  border:none;
  outline:none;
  font-size:0.95em;
  color:@calendar-button-color;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  &:hover {
    color:@calendar-standout;
    font-weight:bold;
  }
}
