// Colors

@col-background: #CBC5A3;
@col-background2: #CBC5A3; //#AA9F7F;
@col-background3: lighten(@col-background2, 5%);
@col-background4: lighten(@col-background2, 10%);

@col-text: #2E2F2A;
@col-text-lighter: lighten(@col-text, 30%);
@col-text-light: #ECF0F1;
@col-link: #568096;
@col-link-hover: darken(@col-link, 15%);
@col-hover: darken(@col-text, 25%);
@col-shadow: darken(@col-text, 20%);
@col-error: #C0392B;
@col-success: #2ECC71;

// Mixins
.inner-shadow {
		box-shadow: inset 0 1em 1em -1em fade(@col-shadow, 30%);
}
.inner-shadow-small {
		box-shadow: inset 0 .1em .5em 0em fade(@col-shadow, 30%);
}

.shadow(@level: 1){
  & when (@level = 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  & when (@level = 2) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 3) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 4) {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  & when (@level = 5) {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}


.transition(@el: all) {
    transition: @el .1s ease-out;
}

.text-shadow {
	text-shadow: 2px 2px fade(@col-text, 60%);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Sizes
@half: .5em;
@normal: 1em;
@double: 2em;
@tripple: 3em;
@quad: 4em;

// Font faces...
/*@font-face {
    font-family: 'HNYP';
    src: url('@{fa-font-path}/rothenbg-webfont.eot');
    src: url('@{fa-font-path}/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fa-font-path}/rothenbg-webfont.woff') format('woff'),
         url('@{fa-font-path}/rothenbg-webfont.ttf') format('truetype'),
         url('@{fa-font-path}/rothenbg-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;	
}*/