# for PHP Storm
/.idea

# for NetBeans
/NetBeans/

# for VSCode
/.vscode/

# for node modules thingies
/node_modules

# composer dependencies
/vendor/

# for compile hero
/css/dist/

# config secrets
/php/DB2.php
/php/database.php
/php/MAIL2.php

# temp files
.phpunit*

# private sensitive settings
/privateSettings
/CurrentSVSite

# DB backup and export
/backup
/db_export

# error log for php
*error_log*
*.log

# release directory
/Release
/docs