# for PHP Storm
/.idea

# for node modules thingies
/node_modules

# db settings (user and password)
/php/DB2.php
/php/database.php

# private sensitive settings
/privateSettings
/CurrentSVSite

# DB backup and export
/backup
/db_export

# error log for php
*error_log*

# release direcotry
/Release
