header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 3rem;
  top: 0;

  background-color: var(--background-menu);
  backdrop-filter: blur(3px);

  border-bottom: 1px solid var(--col-accent);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.sv-logo-link {
  height: 37px; // same height as the svg
  align-self: center;
}

svg g {
  & path,
  & polygon {
    fill: var(--text-primary);
  }
}

sv-menu {
  justify-self: center;
}
