$col-accent: #568096;

:root {
  --text-primary-color: 0, 0, 0;
  --text-primary-alpha: 0.87;

  --text-primary: rgba(var(--text-primary-color), var(--text-primary-alpha));
  --text-primary-contrast: rgba(255, 255, 255, 0.87);

  --background-body: #cbc5a3;
  --background-accent: #2e2f2a;
  --background-menu: rgba(255, 255, 255, 0.8);
  --background-card: var(--background-menu);

  --col-accent: #{$col-accent};
  --col-accent-active: #{darken($col-accent, 10%)};

  --col-error: #c0392b;
  --col-success: #2ecc71;
}
