body,
html {
    max-height: 100%;
    max-width: 100%;
    background-color: #cfe8aa;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: Segoe UI, Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
    font-size: 1em;
}

.intro {
    margin: 25;
    padding: 25;
}

.full-screen-width {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
}

.right-align-on-top {
    position: right;
    float: right;
    margin-top: 10%;
    max-width: 800px;
    width: 30vw;
}

.option-header {
    font-weight: bold;
}

/* Only for mobile devices */
@media all and (max-width: 600px)
{
    .form-control {
        width: 100%;
    }
}

/* Only for other devices */
@media all and (min-width: 600px)
{
    .form-control {
        width: 500px;
    }
}