<sv-content-block>
  <h2>Activiteiten:</h2>

  <h3>Opening van het scoutingjaar</h3>
  <p>
    Als de zomervakantie is afgelopen en de scholen weer begonnen zijn, kan ook
    de Scouting weer beginnen! Dit kunnen wij natuurlijk niet zomaar voorbij
    laten gaan. Alle groepen zijn aanwezig voor een geweldig programma en aan
    het eind van het programma mogen sommige leden overvliegen naar de volgende
    groep. Altijd een waar spektakel waar je niet met droge voeten van thuis
    komt.
  </p>

  <h3>JOTA/JOTI: Jamboree on the air/internet</h3>
  <p>
    Zet het vast in je agenda, het 3e weekend van oktober is het JOTA/JOTI. Het
    weekend waar Scouting Veghel heel eventjes bekend staat als
    <a href="http://www.walterwatson.nl/pa3ezc" target="_blank">PA3EZC/J</a>.
    Een weekend vol morse code, zend apparatuur en IRC. Contact leggen met
    anderen is de basis en de gezelligheid is een zeer gewenst bij-effect!
    Tijdens het weekend de JOTA/JOTI volgen kan op
    <a href="http://jota.scoutingveghel.nl" target="_blank"
      >jota.scoutingveghel.nl</a
    >.
  </p>

  <h3>Weekenden</h3>
  <p>
    Dit is het voorproefje van de zomerkampen, de groepen blijven vaak op onze
    eigen blokhut een paar dagen overnachten. Deze weekenden zijn vaak in de
    eerste helft van het scoutingjaar.
  </p>

  <h3>Sponsoracties</h3>
  <p>
    Van het verkopen van cakes tot vrachtwagens wassen. Scouting Veghel kan een
    extra zakcentje goed gebruiken, wie weet kom je ze nog tegen als ze
    bijvoorbeeld aan het collecteren zijn voor Jantje Beton.
  </p>

  <h3>Carnaval</h3>
  <p>
    Een Brabantse traditie laten wij niet zomaar voorbij gaan, zeker niet met
    een feest als carnaval. Het vieren doen we met heel Scouting Veghel.
    Misschien dat we nog wel een keer een carnavalswagen gaan bouwen.
  </p>

  <h3>Zomerkampen</h3>
  <p>
    Het moment waar ieder scoutinglid op wacht, het zomerkamp! Het scoutingspel
    spelen op een andere plek dan dat je gewend bent, soms zelfs in het
    buitenland! Dit meerdaagse evenement blijft lang in je herrinneringen zitten
    en je zal het nog vaak over die gave avonturen hebben.
  </p>
</sv-content-block>
