/* You can add global styles to this file, and also import other style files */
@use './styles/main.scss';

html {
  background-color: var(--background-body);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--text-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--col-accent);

  &:hover,
  &:active,
  &:visited {
    color: var(--col-accent-active);
  }
}
