<sv-content-block>
  <h2>Informatie voor ouders:</h2>

  <h3>Contributie en kosten</h3>
  <p>
    De totale kosten voor een lid van Scouting Veghel bestaan uit verschillende
    onderdelen. Naast de jaarlijkse contributie is er een bijdrage voor
    weekenden en kampen. De contributie voor Bevers en Welpen is €83 en voor
    Verkenners, Scouts, en Explorers €100. De bijdrage voor weekenden ligt
    tussen de €5 en €15, afhankelijk van de groep en de activiteiten die ze
    doen. De bijdragen voor het kamp verschillen per leeftijdscategorie, zo is
    een kamp voor de bevers een weekendje op de blokhut terwijl de explorers een
    week naar het buitenland gaan.
  </p>
  <p>
    Verdere kosten zijn er voor de aanschaf van het uniform. Het uniform bestaat
    uit verschillende onderdelen. Sommige onderdelen hoeven maar een keer
    aangeschaft te worden, zoals de das. Andere onderdelen eenmaal per
    leeftijdsgroep, zoals de blouse. Het uniform verschilt per groep, maar bij
    de
    <a
      href="https://www.scoutshop.nl/voor-scouts/alles-voor-je-installatie"
      targer="_blank"
      >ScoutShop</a
    >
    kun je wel een idee krijgen van de kosten.
  </p>
  <p>Dus in een overzichtje:</p>

  <table class="contribution-table">
    <tr>
      <th>Groepen</th>
      <th>Leeftijd</th>
      <th>Contributie</th>
    </tr>
    <tr>
      <td>Bevers en Welpen</td>
      <td>5 - 11 jaar</td>
      <td>€83</td>
    </tr>
    <tr>
      <td>Scouts en Explorers</td>
      <td>11 - 18 jaar</td>
      <td>€100</td>
    </tr>
  </table>

  <h3>Ouderparticipatie</h3>
  <p>
    Een vereniging zoals Scouting Veghel heeft veel ballen hoog te houden en al
    onze leiders en plusscouts zijn vrijwilligers die hun vrije tijd met veel
    enthousiasme besteden aan het plezier van onze jeugdleden. Er zijn echter
    ook veel zaken waar we extra hulp voor kunnen gebruiken. Dat zijn:
  </p>

  <ul>
    <li>kinderen wegbrengen naar een buitenactiviteit of op kamp;</li>
    <li>oudervertegenwoordiger groepsraad;</li>
    <li>periodiek schoonmaken van onze blokhut;</li>
    <li>
      en onderhoud uitvoeren, bijvoorbeeld tijdens NLDoet, met schilderwerk, en
      kleine klussen.
    </li>
  </ul>
  Verder zijn er ook activiteiten waar ouders bij betrokken worden, zoals:
  <ul>
    <li>ouder-kind weekend;</li>
    <li>en installatie.</li>
  </ul>

  <h3>Privacybeleid</h3>
  <p>
    Het privacybeleid van Scouting Veghel is te vinden in ons
    <a href="docs/PrivacyStatement.pdf" target="_blank">Privacy Statement</a>.
    Indien er onduidelijkheden of vragen zijn, neem dan alstublieft contact op
    met het bestuur.
  </p>

  <h3>Informatie overzicht</h3>
  <p>
    Alle informatie voor ouders is samengevat in het
    <a href="docs/OuderInfo_2019.pdf" target="_blank">volgende document</a>
  </p>

  <h3>Vragen en aanmelden nieuwe leden</h3>
  <p>
    Mochten er nog vragen zijn, neem dan contact op met het bestuur via het
    onderstaande contact formulier. Wilt u graag uw kind aanmelden als nieuw
    lid, neem dan contact op met de groepsbegeleiding.
  </p>
</sv-content-block>
